{% extends "layout.html"%}
{% block content %}


<h1>WOW LOOK AT ALL OF THE INFORMATION ON THIS BOOK</h1>

<h2>{{book[0][1]}}</h2>
<img src="/static/images/{{book[5]}}" alt="Cover of {{book[1]}} by {{authors[0][0]}}">
<p>{{book[4]}}</p>
<p><strong>Weeks taken to read:</strong> {{book[3]}}</p>
<p><strong>My rating:</strong> {{book[2]}}</p>
<h3>Genres:</h3>
{% for item in genres %}
    <p>{{item[0]}}</p>
{% endfor %}
<h3>Authors:</h3>
{% for item in authors %}
    <p>{{item[0]}}</p>
{% endfor %}

{% endblock %}