{% extends "layout.html"%}
{% block content %}


<h1>Welcome to my book site!</h1>

<p class="home">This is just a little place for me to log what books I've read and rate them out of 5 and stuff. 
    "ALL BOOKS" just has all the books, "AUTHORS" has all the authors which have a book on the site, 
    linking to pages with those books, and "GENRES" is just like authors but... 
    genres rather than authors I guess. Anyways enjoy. You can scroll down to sign in.
</p>

<br>

<img src="static/images/library.JPG" alt="Picture of a cozy book corner">

<a href="/sign_in">
    <div class="big-button">
        <p class="sign-in-out-button">Sign in to add books</p>
    </div>
</a>

{% endblock %}